extends layout
  
block head
    

block content

  h2 #{data.title}

  //information about the upload
  div.ContentList.col-md-6 

    //layout the general information
    fieldset
      legend General Information

      table
        tr
          td Author
          td 
            a(href="/users/#{data.author.username}") #{data.author.username}

        tr
          td License 
          td #{data.license}

        tr
          td Resource Type
          td #{data.type}

        tr
          td Setting
          td #{data.setting}
    
        tr
          td Style 
          td #{data.style}

        tr
          td Tags
          td #{data.tags}

    //generate the detail specific info
    fieldset
      legend #{data.type} Information
      table
        for value, key in data.details
          tr
            td #{key} 
            td #{value} 

    //layout misc information
    //TODO

  //actions to perform with the content
  div.ContentList.col-md-6 

    //sugested actions. Those set by the uploader
    fieldset
      legend Sugested Actions

    //all supported actions
    fieldset
      legend Actions

      ul
        li Make Variant
        li Download Data: 
          select.form-control( id='downloadSelect')
            option(value="", selected, disabled) Select Download Format
        li Add to Collection
      
    fieldset
      legend Social
      
      ul
        li Facebook Share Like
        li Google+ Share +1
        li Twitter Tweat
